.partners {
  height: 235px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: plum;
}

.slogan {
  margin-bottom: 30px;
  font-family: var(--font-dm-sans);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: var(--color-06);
}

.partnersList {
  display: flex;
  justify-content: space-around;
}

.partnerItem {
  padding: 20px;
}
