.partners {
  height: 235px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.slogan {
  margin-bottom: 30px;
  font-family: var(--font-dm-sans);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: var(--color-06);
}

.partnersList {
  display: flex;
  justify-content: space-evenly;
}

.partnerItem {
  padding-top: 20px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1280px) {
  .partners {
    padding-bottom: 37px;
    height: auto;
  }

  .partnersList {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 20px;
  }

  .partnersList img {
    width: 110px;
    height: 42px;
  }
}
