.benefits {
  padding-top: 77px;
  padding-bottom: 113px;
  border-top: 1px solid var(--color-02);
}

.header {
  margin-bottom: 88px;
}

.heading {
  margin-bottom: 45px;
  font-family: var(--font-roboto-mono);
  font-size: 12px;
  line-height: 18px;
  color: var(--color-05);
}

.slogan {
  margin-bottom: 46px;
  font-family: var(--font-crimson-text);
  font-size: 60px;
  line-height: 66px;
  letter-spacing: -2px;
  color: var(--foreground);
}

.insights {
  font-family: var(--font-dm-sans);
  font-size: 15px;
  line-height: 21px;
  color: var(--color-06);
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 60px;
}

.item {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid var(--color-02);
}

.item h3 {
  margin-top: 14px;
  margin-bottom: 18px;
  font-family: var(--font-crimson-text);
  font-size: 18px;
  line-height: 24px;
  color: var(--foreground);
}

.item p {
  max-width: 265px;
  font-family: var(--font-dm-sans);
  font-size: 15px;
  line-height: 21px;
  color: var(--color-06);
}

@media screen and (max-width: 1280px) {
  .header {
    margin-bottom: 89px;
  }

  .heading {
    margin-bottom: 48px;
    letter-spacing: -1px;
  }

  .slogan {
    max-width: 450px;
    margin-bottom: 48px;
    line-height: 56px;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
  }

  .item {
    padding-bottom: 19px;
  }

  .image {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .benefits {
    padding-bottom: 97px;
  }

  .heading {
    margin-bottom: 28px;
  }

  .slogan {
    margin-bottom: 28px;
  }

  .item h3 {
    margin-top: 15px;
    margin-bottom: 19px;
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 22px;
  }

  .item p {
    max-width: 100%;
  }

  .list {
    grid-template-columns: 1fr;
    gap: 38px;
  }
}
