.benefits {
  padding-top: 80px;
  padding-bottom: 120px;
  height: 1412px;
  background-color: palegoldenrod;
}

.header {
  margin-bottom: 50px;
}

.heading {
  margin-bottom: 50px;
  font-family: var(--font-roboto-mono);
  font-size: 12px;
  line-height: 18px;
  color: var(--color-05);
}

.slogan {
  margin-bottom: 50px;
  font-family: var(--font-crimson-text);
  font-size: 60px;
  line-height: 66px;
  color: var(--foreground);
}

.insights {
  font-family: var(--font-dm-sans);
  font-size: 15px;
  line-height: 21px;
  color: var(--color-06);
}
