.benefits {
  padding-top: 80px;
  padding-bottom: 120px;
  border-top: 1px solid var(--color-02);
}

.header {
  margin-bottom: 50px;
}

.heading {
  margin-bottom: 50px;
  font-family: var(--font-roboto-mono);
  font-size: 12px;
  line-height: 18px;
  color: var(--color-05);
}

.slogan {
  margin-bottom: 50px;
  font-family: var(--font-crimson-text);
  font-size: 60px;
  line-height: 66px;
  color: var(--foreground);
}

.insights {
  font-family: var(--font-dm-sans);
  font-size: 15px;
  line-height: 21px;
  color: var(--color-06);
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 60px;
  background-color: palevioletred;
}

.item {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid var(--color-02);
}

.item h3 {
  margin-top: 24px;
  margin-bottom: 20px;
  font-family: var(--font-crimson-text);
  font-size: 18px;
  line-height: 24px;
  color: var(--foreground);
}

.item p {
  font-family: var(--font-dm-sans);
  font-size: 15px;
  line-height: 21px;
  color: var(--color-06);
}

@media screen and (max-width: 1280px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .centered {
    max-width: 100%;
    margin: 0 auto;
  } */
}
