.connect {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 464px;
  border-top: 1px solid var(--color-02);
}

.wrapper {
  max-width: 600px;
}

.wrapper h2 {
  margin-bottom: 40px;
  font-family: var(--font-crimson-text);
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  letter-spacing: -2px;
  color: var(--foreground);
}

.wrapper p {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: var(--color-06);
}

@media screen and (max-width: 1280px) {
  .connect {
    height: 460px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 520px;
    margin-top: -13px;
  }

  .wrapper h2 {
    margin-bottom: 0;
    font-size: 54px;
    line-height: 60px;
  }

  .wrapper p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  .wrapper h2 {
    font-size: 50px;
    line-height: 56px;
  }
}
