.connect {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 464px;
  background-color: papayawhip;
  border-top: 1px solid var(--color-02);
}

.wrapper {
  max-width: 600px;
  background-color: paleturquoise;
}

.wrapper h2 {
  margin-bottom: 40px;
  font-family: var(--font-crimson-text);
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  color: var(--foreground);
}

.wrapper p {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: var(--color-06);
}
