.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 738px;
  overflow: hidden;
}

.title {
  margin-left: 60px;
  font-family: var(--font-crimson-text);
  font-size: 156px;
  line-height: 140px;
  letter-spacing: -6px;
  color: var(--foreground);
}

.image {
  z-index: 10;
  position: absolute;
  bottom: -151px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
}

.background {
  position: relative;
  height: 362px;
  margin-top: auto;
  background-color: var(--color-04);
  border-radius: 24px;
}

@media screen and (max-width: 1280px) {
  .hero {
    height: 726px;
  }

  .title {
    margin-left: 0;
    font-size: 140px;
    line-height: 112px;
    letter-spacing: -6px;
    text-align: center;
  }

  .image {
    bottom: -12px;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    gap: 20px;
    padding-top: 42px;
    height: 654px;
  }

  .title {
    font-size: 81px;
    line-height: 64px;
    letter-spacing: -5px;
  }

  .image {
    bottom: -127px;
  }

  .background {
    height: 363px;
  }
}
