.features {
  display: flex;
  gap: 20px;
  padding-bottom: 120px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 590px;
  padding-top: 54px;
  padding-bottom: 80px;
  border-top: 1px solid var(--color-02);
}

.title {
  margin-bottom: 35px;
  font-family: var(--font-crimson-text);
  font-size: 60px;
  line-height: 66px;
  letter-spacing: -2px;
  color: var(--foreground);
}

.slogan {
  max-width: 510px;
  margin-bottom: 37px;
  font-family: var(--font-dm-sans);
  font-size: 15px;
  line-height: 21px;
  color: var(--color-06);
}

.list {
  margin-bottom: 37px;
}

.item {
  display: flex;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  line-height: 21px;
  border-top: 1px solid var(--color-02);
}

.item p {
  max-width: 460px;
}

.wrapperImage {
  max-height: 711px;
}

.wrapperImage img {
  height: 711px;
  object-fit: cover;
  border-radius: 30px;
}

@media screen and (max-width: 1280px) {
  .features {
    flex-direction: column;
  }

  .title {
    margin-bottom: 31px;
    font-size: 54px;
    line-height: 60px;
  }

  .slogan {
    max-width: 640px;
    margin-bottom: 34px;
  }

  .text {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 49px;
  }

  .wrapperImage {
    max-height: 744px;
  }

  .wrapperImage img {
    width: 100%;
    height: 744px;
  }

  .list {
    margin-bottom: 40px;
  }

  .item {
    padding-bottom: 19px;
  }

  .item p {
    max-width: 590px;
  }
}

@media screen and (max-width: 800px) {
  .features {
    padding-bottom: 74px;
  }

  .text {
    padding-top: 58px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
  }

  .title {
    margin-bottom: 34px;
    font-size: 52px;
    line-height: 48px;
  }

  .wrapperImage {
    padding-left: 16px;
    padding-right: 16px;
  }

  .wrapperImage img {
    height: 386px;
  }
}
