.up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 2em;
  background-color: var(--color-04);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.up:hover {
  opacity: 0.7;
}

.up img {
  transform: rotate(359deg);
}
