.spec {
  height: 1153px;
  padding-top: 80px;
  padding-bottom: 120px;
}

.heading {
  max-width: 720px;
  margin: 0 auto;
}

.title {
  margin-bottom: 40px;
  font-family: var(--font-roboto-mono);
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: var(--color-05);
}

.question {
  margin-bottom: 40px;
  font-family: var(--font-crimson-text);
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  color: var(--foreground);
}

.paragraph {
  margin-bottom: 40px;
  text-align: center;
  color: var(--color-06);
}

.btn {
  max-width: 138px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .question {
    font-size: 54px;
    line-height: 60px;
  }
}

@media screen and (max-width: 800px) {
  .question {
    font-size: 50px;
    line-height: 56px;
  }
}
