.testimonials {
  padding-bottom: 118px;
}

.slide {
  display: flex;
  gap: 20px;
  max-height: 670px;
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  border-top: 1px solid var(--color-02);
}

.text {
  margin-top: -9px;
  margin-bottom: 50px;
  font-family: var(--font-crimson-text);
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -1px;
  color: var(--foreground);
}

.author {
  font-family: var(--font-dm-sans);
  font-size: 15px;
  line-height: 21px;
  color: var(--foreground);
}

.role {
  font-family: var(--font-roboto-mono);
  font-size: 13px;
  line-height: 19px;
  color: var(--color-05);
}

@media screen and (max-width: 1280px) {
  .testimonials {
    padding-bottom: 121px;
    height: auto;
  }

  .textContent {
    max-width: 100%;
    padding-top: 51px;
    padding-bottom: 42px;
    padding-left: 0;
  }

  .text {
    margin-top: -11px;
    margin-bottom: 50px;
    font-size: 38px;
    line-height: 44px;
  }

  .image {
    width: 100%;
    height: 720px;
  }

  .slide {
    flex-direction: column;
    gap: 40px;
    height: auto;
    max-height: 100%;
  }

  .authorBox {
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  .testimonials {
    padding-bottom: 100px;
  }

  .textContent {
    max-width: 100%;
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0;
  }

  .image {
    height: 343px;
  }
}
