.how {
  padding-top: 74px;
  padding-bottom: 40px;
  border-top: 1px solid var(--color-02);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 73px;
}

.title {
  font-family: var(--font-crimson-text);
  font-size: 60px;
  line-height: 66px;
  letter-spacing: -2px;
  color: var(--foreground);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.item {
  padding-top: 60px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-top: 1px solid var(--color-02);
}

.item span {
  display: block;
  margin-bottom: 58px;
  font-size: 76px;
  line-height: 78px;
  color: var(--color-01);
}

.item h3 {
  margin-bottom: 20px;
  font-family: var(--font-crimson-text);
  font-size: 18px;
  line-height: 24px;
  color: var(--foreground);
}

.item p {
  font-size: 16px;
  line-height: 22px;
  color: var(--color-06);
}

.image {
  display: inline-block;
  margin-top: 115px;
  border-radius: 30px;
  vertical-align: middle;
}

@media screen and (max-width: 1280px) {
  .how {
    padding-top: 77px;
  }

  .header {
    margin-bottom: 75px;
  }

  .title {
    font-size: 54px;
    line-height: 60px;
  }

  .list {
    column-gap: 58px;
  }

  .item {
    padding-right: 0px;
  }

  .item p {
    letter-spacing: -1px;
  }

  .item:nth-child(2) span {
    line-height: 56px;
  }

  .item:nth-child(2) p {
    max-width: 210px;
  }
}

@media screen and (max-width: 800px) {
  .how {
    overflow: hidden;
    padding-top: 82px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 79px;
  }

  .title {
    font-size: 52px;
    line-height: 52px;
  }

  .list {
    column-gap: 34px;
  }

  .item {
    width: 60vw;
  }

  .item h3 {
    margin-bottom: 16px;
  }

  .image {
    height: 600px;
    margin-top: 98px;
  }
}
