.how {
  padding-top: 80px;
  padding-bottom: 40px;
  border-top: 1px solid var(--color-02);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.title {
  font-family: var(--font-crimson-text);
  font-size: 60px;
  line-height: 66px;
  color: var(--foreground);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.item {
  padding-top: 60px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-top: 1px solid var(--color-02);
}

.item span {
  display: block;
  margin-bottom: 60px;
  font-size: 80px;
  line-height: 86px;
  color: var(--color-01);
}

.item h3 {
  margin-bottom: 20px;
  font-family: var(--font-crimson-text);
  font-size: 18px;
  line-height: 24px;
  color: var(--foreground);
}

.item p {
  font-size: 16px;
  line-height: 22px;
  color: var(--color-06);
}

.image {
  display: inline-block;
  margin-top: 120px;
  border-radius: 30px;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 54px;
    line-height: 60px;
  }

  .item:nth-child(2) span {
    line-height: 56px;
  }

  .item:nth-child(2) p {
    max-width: 210px;
  }
}

@media screen and (max-width: 800px) {
  .how {
    overflow: hidden;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .title {
    font-size: 50px;
    line-height: 56px;
  }

  .item {
    width: 60vw;
  }

  .image {
    height: 600px;
    margin-top: 100px;
  }
}
