.header {
  padding-top: 16px;
  padding-bottom: 72px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -2px;
  color: var(----foreground);
}

.navigation {
  margin-left: 83px;
  padding-top: 19px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 19px;
}

.burger {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  .header {
    padding-top: 20px;
    padding-bottom: 22px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 2px 4px -3px rgba(0, 0, 0, 0.2);
  }

  .wrapper {
    padding-left: 4px;
    padding-right: 4px;
  }

  .navigation {
    display: none;
  }

  .burger {
    display: block;
  }

  .more {
    display: none;
  }
}
